/* ---Global-- */
.content-wrapper-set{
    padding-top: 90px;
}

/*------------------ admin header css----------------- */



/*------------------ admin sidebar css----------------- */

.sidebarwork{
    position: fixed;
    z-index: 9999999;
}
.sidebar .nav-item .nav-link {
    padding: 0.5rem;
}
.navFixedWork{
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    z-index: 999999;
}

/* --------Content css------------------ */
.small-card{
    height: 178px;
    overflow-y: scroll;
}
/* width */
.small-card::-webkit-scrollbar {
    width:3px;
  }
  
  /* Track */
  .small-card::-webkit-scrollbar-track {
    background: #494848;
    
  }
  
  /* Handle */
  .small-card::-webkit-scrollbar-thumb {
    background: #2653d4;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  .small-card::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.meterchecktil{
    font-size: 13px;
    font-weight: 700;
}
.trafficJamcontain .fontSizetelwork{
    font-size: 16px;
    font-weight: 700;
}
.newSignright{
    margin: 0 0 0 auto;
}

.viclyeallsee .fa-2x {
    font-size: 1.5em;
}

.unitetraffic .fontSizework{
    font-size: 12px;
}
.needAtention p{
    font-size: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.needAtention p span{
    display: block;
    width: 5px;
    height: 5px;
}

.livetiptxt{
    font-size: 14px;
    font-weight: 700;
}
.livetipnum {
    font-size: 14px;
    font-weight: 700;
}
.trip-driver{
    margin: 6px 0;
}
.tripsTil{
    margin-bottom: 10px;
    font-weight: 700;
    color: #414d6a;
    font-size: 18px;
}
.tripListcontqin{
    margin-top:20px;
}
.vicleTil{
    margin-top:20px;
}
.vicleTil .vicleTotal{
    margin-bottom: 16px;
}

/* ---Events list--- */
.mytabtlist {
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    border-radius: 0;
    margin: 9px 0;
}

.mytabtlist .list-group-item {
    border: 0;
    padding: 10px;
    background-color: transparent;
    display: flex;
    position: relative;
}
.mytabtlist .list-group-item span {
    font-weight: 700;
    color: #b9b5b5fa;
}
.mytabtlist .list-group-item.active {
    border: 0;
    margin: 0;
}
.mytabtlist .list-group-item.active:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 3px;
    bottom: -1px;
    background-color: #4d72de;
    left: 0;
}
.mytabtlist .list-group-item.active span{
    color:#4e73df;
    font-weight: 700;
}
.mytabtlist>.list-group-item+.list-group-item.active{
   margin-left:0;
   font-weight: 700;
}
.filter-drop  {
    gap:10px;
}
.filter-work-box {
border-bottom: 1px solid #e3e6f0;
padding: 19px 0;
margin-bottom: 10px;
}

/* ---All events----- */

.newEventListcard .form-check-input {
    margin-top: -0.3rem;
}

.newEventListcard  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 1.25rem;
    border: 1px solid #c1c1c11f;
}
.listEventType {
    width: 100%;
}
.listbdy{
    width: 100%;
}
.newEventListcard {
    margin-bottom: 0.1px !important;
}
.card-responsive{
    display: none;
}
.list-of-eventsCarts{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
 /*--- width ----*/
  .list-of-eventsCarts::-webkit-scrollbar {
    width: 6px;
    
  }
  
  /*--- Track---*/
  .list-of-eventsCarts::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.267);
  }
  
  /*--- Handle ---*/
  .list-of-eventsCarts::-webkit-scrollbar-thumb {
    background: #4e73df ;
    border-radius: 20px;

  }
.newEventListcard .card-header{
    padding-right: 30px;
}

/* --realtimework----- */
.VSit-contain{
    display: flex;
    align-items: center;
}
.VSit-contain .fuel-logo i{
    font-size: 42px;
    color:#4e73df ;
}
.VSit-contain .fuel-logo .f-icon{
    background-color: #4e73df5c;
    width: 63px;
    height: 63px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.VSit-container {
    padding: 16px;
}
.VSit-details{
    padding-left: 16px;
}
.VSit-details h4{
    font-weight: 800;
    margin: 0;
    color: #4e73df;
}
.VSit-header p {
    font-size: 18px;
    padding: 15px 0;
    color: #414d6a;
    margin: 0;
    font-weight: 500;
}