/*------------------ admin header css----------------- */



/*------------------ admin sidebar css----------------- */
.SidebarWork{
    width: 17rem;
}
.SidebarWork .sidebar{
    position: fixed;
}
.sidebar .nav-item .nav-link {
    padding: 0.5rem;
}

/* --------Content css------------------ */
.small-card{
    height: 178px;
    overflow-y: scroll;
}
/* width */
.small-card::-webkit-scrollbar {
    width:3px;
  }
  
  /* Track */
  .small-card::-webkit-scrollbar-track {
    background: #494848;
    
  }
  
  /* Handle */
  .small-card::-webkit-scrollbar-thumb {
    background: #2653d4;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  .small-card::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.meterchecktil{
    font-size: 13px;
    font-weight: 700;
}
.trafficJamcontain .fontSizetelwork{
    font-size: 16px;
    font-weight: 700;
}
.newSignright{
    margin: 0 0 0 auto;
}

.viclyeallsee .fa-2x {
    font-size: 1.5em;
}

.unitetraffic .fontSizework{
    font-size: 12px;
}